@use '../../assets/styles/mixins' as mixin
@use '../../assets/styles/vars' as var
@use '../../assets/styles/colors' as color

main
  padding-inline: mixin.rem(var.$base-page-margin)
.main-title
  display: grid
  padding-block: mixin.rem(var.$base-page-margin)
  justify-items: start
  grid-template-rows: 1fr 3fr
  .name
    color: color.$main-text
    font-family: 'Inter', serif
    font-style: normal
    font-weight: 300
    line-height: normal
    font-size: mixin.rem(var.$sub-main-title-size)
  .job
    font-size: mixin.rem(var.$main-title-size)
    color: color.$main-text
    font-family: 'Inter', serif
    font-style: normal
    font-weight: 700
    line-height: normal
.main-btn
  border-radius: 70px
  border: 1px solid color.$main-text
  background: #FFF
  padding: 14px 46px
  text-decoration: none
  color: color.$main-text
  font-size: mixin.rem(var.$base-text-size)



